version: '3.8'

services:
  mongodb:
    build:
      context: ./database
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USERNAME:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD:-rootpassword}
      - MONGO_INITDB_DATABASE=${MONGODB_DATABASE:-tunedIn}
    volumes:
      - mongodb_data:/data/db
      - ./database/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
      - ./database/scripts:/scripts
    networks:
      - tunedIn-network

  backend:
    build: 
      context: ./backend
    ports:
      - "${SERVER_PORT:-8000}:${SERVER_PORT:-8000}"
    env_file:
      - ./backend/.env
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://${MONGODB_USERNAME:-root}:${MONGODB_PASSWORD:-rootpassword}@mongodb:${MONGODB_PORT:-27017}/${MONGODB_DATABASE:-tunedIn}?authSource=${MONGODB_AUTH_DATABASE:-admin}
    restart: unless-stopped
    depends_on:
      - mongodb
    networks:
      - tunedIn-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT:-5137}:${FRONTEND_PORT:-5137}"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - tunedIn-network

volumes:
  mongodb_data:
    driver: local

networks:
  tunedIn-network:
    driver: bridge
