version: '3.8'

services:
  backend:
    build: 
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      - SPRING_CONFIG_LOCATION=file:/app/config/application.properties
    volumes:
      - ./backend/src/main/resources/application.properties:/app/config/application.properties
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "5137:5137"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
